/* Basic styles for the to-do list */
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #3475d0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
.button-add {
    background-color: #05ff4c;
}
.button-add:hover {
    background-color: #28a745;
}
.button-add::after {
    text-transform:calc();
}
#taskInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#addTaskBtn {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#addTaskBtn:hover {
    background-color: #e46525;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
li.completed span {
    text-decoration: line-through;
    color: #5ce237;
}
button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.complete-btn {
    background-color: #007bff;
    color: white;
}
.complete-btn:hover {
    background-color: #0056b3;
}
.completed-btn {
    background-color: #6c757d;
    color: white;
}
.completed-btn:hover {
    background-color: #5a6268;
}
.complete-btn::after {
    text-decoration: dashed;
}
.delete-btn {
    background-color: #dc3545;
    color: white;
    margin-left: 10px;
}
.delete-btn:hover {
    background-color: #c82333;
}
